*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.box{
    margin: 10px 20px;
    width:80%;
    border: 5px solid transparent;
    position: relative;
}
.container h1{
    /* color: rgb(161, 18, 161); */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .clock{
    display:inline;
} 

input[type=date],input[type=time] {
    border: 2px solid grey;
    outline:none;
    border-radius: 8px;
    height:30px;
    padding:10px;
    margin-right:10px;
}
input[type=text] {
    border: 2px solid grey;
    outline:none;
    border-radius: 8px;
    height:30px;
    padding:10px;
    width:80%;

}
input[type=date]:focus,input[type=time]:focus,input[type=text]:focus{
    border: 2px solid skyblue;
    outline:none;

}


.margin{
    margin-top: 15px;
}
 .calendar{
    display:inline;
}

.button{
    margin: 10px 25px;
    
}
.add{
    
    height:30px;
    width:80px;
    border-radius:8px;
    color:white;
     background-color:#E41F5C; 
    /* background-color: #611F69; */
    border:none;
}
.add:hover{
    background-color:#e00b4f;

}
/* .cancel{
    height:30px;
    width:80px;
    border-radius:8px;
    color:white;
    background-color:lightgrey;
    border:none;
} */


/* .add:hover{
    background-color: rgb(145, 22, 145);
} */
.vector{
    text-align: center;
    margin-top: 50px;
    opacity: 0.8;
}
.vector img{
    height: 260px;
    width: 400px;
}
.vector p{
    color: palevioletred;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Grandstander', cursive;
}

.Assignlink{
margin-top:25px;
margin-right:185px;
margin-left: 20px;
/* float:right; */
padding:5px;
}
